[2013-02-27 21:50] kamui opened #1 "Use build_dir instead of hard coding build path"
Thanks for this plugin. I currently deploy to 2 buckets, one staging, one production. I do something like:

[code]

to build into different sub directories, but s3_sync has the build path hardcoded as `build` so it actually uploads each environment. It would be helpful if you just read the `build_dir` and used that.

[2013-02-28 17:35] #1 closed, assigned to fredjean

[2013-03-14 06:01] raypatterson opened #2 "Adding CLI switch to define bucket"
Would you consider adding a command line switch to define the bucket target?

E.g.

[code]

Great work BTW!

[2013-03-20 23:16] willkoehler opened #3 "Interested in adding support for gzip compression?"
@fredjean this gem looks great. The only feature I see missing is the gzip_compression option in middleman-sync / asset_sync. It's pretty slick how asset_sync implements this. If you're interested I'll take a crack at porting that feature to middleman-s3_sync and submit a pull request.

[2013-03-27 20:23] fredjean opened #6 "Force pushing all content to S3"
There are times where it may be needed to push all content to S3. Adding a -f mode.

[2013-03-30 04:26] #6 closed, assigned to nobody

[2013-04-17 05:37] #2 closed, assigned to fredjean

[2013-04-25 13:33] fredjean opened #7 "Allow specific Content-Type and Charset for certain files"
@cutemachine Could you elaborate on this? Are you looking to set the content based on path? glob? extension? We are already setting the content type based on the extension of the file (which is also done by fog as well). I do not think that we are setting the charset at this point though. Ideas on what you would like this to look like would be good.

Thanks!

[2013-05-06 19:04] fredjean opened #8 "Support Reduced Redundancy Storage"
It would help to further reduce the cost of hosting a site on S3.

[2013-05-11 10:44] mrship opened #9 "Options is too generic a name for a helper method"
Firstly, thanks for this excellent gem. I read the codebase extensively when building my own middleman extension gem - [middleman-ember](https://github.com/mrship/middleman-ember).

However, when I recently added configurable options for my gem, I noticed that the #options method you include in the InstanceMethods was conflicting with my own options method, as all InstanceMethods appear to be incl

[2013-05-13 19:01] geoffreywiseman opened #10 "Fog warning: 'Might fail with https'"
I just upgraded to the latest middleman-s3_sync, and now my sync is filled with warnings:
`[WARNING] fog: the specified s3 bucket name(<domain name>) might fail with https.`

Is that expected? Is there any way around it? Still seems to work, just irritating. ;)

[2013-05-13 22:45] #9 closed, assigned to nobody

[2013-05-14 05:26] #3 closed, assigned to fredjean

[2013-05-14 05:26] #10 closed, assigned to fredjean

[2013-05-14 06:07] fredjean opened #11 "Deeper Checksum Check for GZipped Data"
Using GZip to compress data stores the time stamp of the compressed file in its header. This is enough to change the checksum of the compressed if the original file was modified or touched in between. This may happen when the build directory is removed or a CI system builds and deploy the site. Comparing the MD5 hash of a local gzipped file to the etag of an S3 file is not sufficient to determine

[2013-05-15 04:34] #11 closed, assigned to fredjean

[2013-05-15 16:02] evantravers opened #13 "Failing because of directories…"
I'm not sure how to post this one… I'm actually assuming I'm doing something wrong. Running middleman s3_sync currently generates this error:

[code]

EDIT: (accidentally hit submit) I'm using activate directory_indexes or whatever… but removing it doesn't change anything apparently. I'm quite confused.

[2013-05-16 15:56] #13 closed, assigned to fredjean

[2013-05-30 14:26] Rataxes opened #14 "Cannot load ruby progressbar"
This might be an n00b-error on my part, but I get this error on "middleman build":

/var/lib/gems/1.9.1/gems/middleman-s3_sync-3.0.12/lib/middleman-s3_sync.rb:4:in `require': cannot load such file -- ruby-progressbar (LoadError)

"bundle install" says it's complete, and I am using ruby-progressbar 1.1.0

"middleman s3_sync" works though, and the progressbar shows.

[2013-06-02 17:38] ghost opened #15 "`s3_sync_options` method not found"
When trying to run `middleman s3_sync` from the command line (or `bundle exec middleman s3_sync`) I received the following error:

[code]

Ruby: 2.0.0
Middleman: 3.0.14
Middleman-s3_sync: 3.0.12

[2013-06-03 20:31] #15 closed, assigned to fredjean

[2013-06-04 07:46] #14 closed, assigned to fredjean

[2013-06-07 07:18] lboecker opened #16 "Provide default settings"
Hey,
maybe we should provide some defaults like

[code]

[2013-08-08 15:39] fredjean opened #17 "Detect redirects, do not delete"
Detect whether an object that does not exist locally is a redirect. Do not delete if it is the case.

[2013-08-14 12:36] AntonKL opened #18 "include deploy.rb"
I'm using github for hosting projects public and do not want to include AWS-key into config.rb. Would it be possible to have the s3_sync config in a separate file and include it IF it exist?

[2013-08-14 15:14] #17 closed, assigned to fredjean

[2013-08-18 22:13] thenickcox opened #19 "Is a directory - build/2013"
After running `middleman s3_sync`, the CLI output shows the following error `Is a directory - build/2013 (Errno::EISDIR)`, as though it doesn't support directories in the `build` directory. That can't be right. What did I do wrong?

[2013-08-20 13:18] #16 closed, assigned to fredjean

[2013-08-28 13:16] #18 closed, assigned to fredjean

[2013-08-29 02:51] bf4 opened #20 "License missing from gemspec"
RubyGems.org doesn't report a license for your gem.  This is because it is not specified in the [gemspec](http://docs.rubygems.org/read/chapter/20#license) of your last release.

via e.g.

[code]

Including a license in your gemspec is an easy way for rubygems.org and other tools to check how your gem is licensed.  As you can imagine, scanning your repository for a LICENSE file or parsing the READ

[2013-09-02 16:44] #19 closed, assigned to fredjean

[2013-09-05 17:14] jakemauer opened #21 "Error during sync - undefined method `metadata`"
I'm using the latest published versions of all MiddleMan related gems. My Gemfile.lock is here https://gist.github.com/jakemauer/6453177 if you want to check versions.

Running the standard `middleman s3_sync` command gets me about half way through generating the paths to evaluate and then it stalls. Eventually it fails yielding this trace:

[code]

[2013-09-06 04:36] #20 closed, assigned to nobody

[2013-09-06 06:47] aergonaut opened #22 "Missing AWS access info when synching after build"
I'm getting the following error when trying to use S3 Sync to upload when hooked after the build phase.

I am using a `.s3_sync` file in the root of my Middleman project so I can add it to .gitignore and keep my credentials out of source control.

It looks like S3 Sync isn't able to find the `.s3_sync` file to read the AWS access info.

Strangely, it works just fine if I sync manually with `bundle

[2013-09-07 05:57] #22 closed, assigned to nobody

[2013-09-12 04:34] #21 closed, assigned to nobody

[2013-09-12 05:19] #8 closed, assigned to fredjean

[2013-09-20 13:04] AntonKL opened #25 "Improve documentation on .s3_sync file"
The documentation isn't super clear if it's OK to leave out `s3_sync.aws_access_key_id` and `s3_sync.aws_secret_access_key` from the `config.rb` file if we use a `.s3_sync file`.

I suggest that we try to improve the documentation with a note about this case to assist new users.

[2013-10-26 23:25] kitop opened #27 "Verbose option raises exception when creating new files"
When adding `s3_sync.verbose` option to the config.rb block, I get this error when a file has to be created in S3:

[code]

I guess the problem is in https://github.com/fredjean/middleman-s3_sync/blob/master/lib/middleman/s3_sync/resource.rb#L96

If it's creating an object it is because there is no remote, so it can output the md5 of that.

[2013-10-28 05:16] #27 closed, assigned to nobody

[2013-11-01 21:40] rwboyer opened #28 "Testing on real site"
Been testing middleman and various extensions out in prep to move a production sized site to middleman...

Found a few things that may be easy fixes or version issues but they are very consistent and seem to be volume related

1) Consistently blows up with the following error at 201 and 241 files in when creating or updating

[code]

2) Consistently SILENTLY fails when removing files at 139 files

[2013-11-04 03:13] snikch opened #29 "Change 'after_build' option to run after gzipping"
Currently with `after_build = true`, s3_sync runs before the Middleman gzip's the content, so the ungzipped content is uploaded.

Here is me running `middleman build && middleman s3_sync` with both after_build set to true and false. You'll see with it on, s3_sync uploads before the gzip occurs, and then when s3_sync run after (as the separate command) it considers all files identical (since it's b

[2013-11-06 15:39] #29 closed, assigned to nobody

[2013-11-18 20:43] AntonKL opened #34 "Syntaxerror. Any idea on solution?"
Do you have any idea on this error? Thanks!
## Stack trace on build

[code]
## Gemfile

[code]
## config.rb

[code]

[2013-11-19 20:06] willglynn opened #35 ""A Note About Browser Caching""
The README says:

Could you elaborate? Under what circumstances does Chrome ignore `Cache-Control` or `Expires` headers?

[2013-11-27 20:35] Undistraction opened #39 "[documentation] Default Behaviour Is Incorrect"
In the docs is the following:

[code]

The comment implies that the default behaviour is for syncing to begin after build, however so far as I can see, there is no sync unless I set this to true, meaning that by default sync will _not_ occur after build.

[2013-12-01 23:58] #39 closed, assigned to nobody

[2013-12-02 00:00] #25 closed, assigned to nobody

[2013-12-02 00:42] #28 closed, assigned to nobody

[2013-12-11 05:40] #34 closed, assigned to nobody

[2013-12-11 05:43] fredjean opened #40 "Caching Policy on compressed content"
s3_sync should set the Vary: encoding header under the following conditions:
- A caching policy is set
- The gzipped content is pushed to the server.

Technically, S3 will doesn't not have the ability to server both compressed and uncompressed headers. It doesn't not look at the Accept-Encoding header. However, this is the correct way to present the compressed content back.

[2013-12-21 19:52] ukd1 opened #41 "Having a build folder in build directory (i.e. /build/build/some.css) results in /some.css not /build/some.css"

[2013-12-21 20:48] #41 closed, assigned to nobody

[2013-12-21 20:59] #40 closed, assigned to fredjean

[2014-01-28 13:15] totocaster opened #44 "Problem syncing with S3"
Hello, I have problem syncing with S3.

Here is an error:
    /lib/ruby/1.9.1/openssl/ssl-internal.rb:121:in `post_connection_check': hostname does not match the server certificate (OpenSSL::SSL::SSLError) (Excon::Errors::SocketError)

Am I doing something wrong?

Here is my configuration:

[code]

[2014-01-28 19:21] #44 closed, assigned to nobody

[2014-02-21 20:05] kkurian opened #46 "Type#platform? & Type#system? are deprecated"
MIME::Type#platform? is deprecated and will be removed.
MIME::Type#system? is deprecated and will be removed.

with ruby -v
ruby 2.0.0p247 (2013-06-27 revision 41674) [x86_64-darwin11.4.2]

[2014-03-08 10:52] manuelmeurer opened #47 "Gzipped files don't seem to be uploaded"
I just started using middleman-s3_sync instead of middleman-sync for the same reason you started this project, to "sync" instead of "upload everything every time". :smile:

It seems like my gzipped files are not uploaded though.

[code]

None of the .gz files are present in my S3 folder though.

[2014-03-09 12:47] naxIO opened #48 "Problem with Upload to S3"
Hi,
first: thanks for this gem its the thing I was always looking for :)

Sadly I have a problem when I try to upload my files. I played around with a set of different options, but so far no success.

I get this:

[code]

My config is

[code]

Thanks for your help!

[2014-03-09 16:11] fredjean opened #49 "No need to print out alternate encoding files"
Files where the content encoding and content md5 are matching should be treated like the other identical files. In this case, the gzipped file might have been recreated or modified and there isn't the need to be vocal about it.

[2014-03-09 16:13] #47 closed, assigned to nobody

[2014-03-09 17:43] #48 closed, assigned to nobody

[2014-06-03 07:48] aaronk6 opened #51 "How to deploy with gzipped assets?"
Hey there,

Thanks for this great gem! Really helpful. I've one issue though: I've set `s3_sync.prefer_gzip` to `true` but it won't deploy the gzipped assets. When I run `middleman build`, it creates the gzipped files but on `middleman s3_sync`, it only deploys the unzipped files to the bucket.

This is my `config.rb`:

[code]

Did I miss anything?

Thanks,
Aaron

[2014-06-09 03:48] miguel-perez opened #52 "How do I change the default_caching_policy?"
Hello,

I'm pretty new to using middleman and ruby and so I'm having a hard time figuring out how to set a max_age or expires headers to enable browser caching. The readme mentioned adding this:

default_caching_policy max_age:(60 \* 60 \* 24 \* 365)

However, it didn't mention where in the config.rb this should go. I've tried:
- Before and inside the activate block, this results in the error: "un

[2014-06-11 02:50] #52 closed, assigned to nobody

[2014-06-18 13:24] #51 closed, assigned to nobody

[2014-06-19 07:36] aaronk6 opened #54 "Prefix is ignored"
Hey—me again. There seem to be cases in which the prefix is ignored.

This is my config:

[code]

This is what happens:

[code]

The files are deployed to the bucket's top level. I get the same result when I add the `--force` switch. I'm using version 3.0.29.

[2014-06-21 18:52] #54 closed, assigned to nobody

[2014-06-26 13:57] josephwegner opened #56 "Prefix gets added twice"
See my comment here: https://github.com/fredjean/middleman-s3_sync/commit/57257febe4a04f3aa2445087fe3ef5c183a20a11#commitcomment-6809171

[2014-07-22 15:40] aaronk6 opened #57 "How to define file types that will be gzipped? (e.g. SVG)"
How does middleman-s3_sync determine wether a file should be gzipped during deployment? Is there a way to supply a list of file types? I’m asking because I noticed that SVG files don’t get gzipped even though `s3_sync.prefer_gzip` is set to `true`.

Thanks!

[2014-07-22 20:52] #57 closed, assigned to nobody

[2014-07-29 17:46] iwiznia opened #58 ".s3_sync accepting other configuration options"
I see that the .s3_sync file can only provide AWS credentials. Why not allow it to override any of the other options? In my case it would be useful to be able to set prefix and bucket.
If you are alright with this functionality I'll make a pull request with the changes.

[2014-07-29 19:26] #58 closed, assigned to nobody

[2014-07-29 19:58] #46 closed, assigned to nobody

[2014-07-29 21:02] #49 closed, assigned to nobody

[2014-07-31 18:57] rosskevin opened #60 "enhancement: yield better message when bucket does not exist"
OR, create bucket.  I think a good failure message makes sense as opposed to automatic creation.  This is certainly just a nice to have but I ran into it on the first test.

    /Users/kross/.rvm/gems/ruby-2.0.0-p247@acme/gems/middleman-s3_sync-3.0.31/lib/middleman/s3_sync.rb:96:in `block in bucket_files': undefined method `files' for nil:NilClass (NoMethodError)
	from /Users/kross/.rvm/gems/ruby-

[2014-08-13 17:13] acrispino opened #62 "Command line options don't seem to work"
Using version 3.0.31 with middleman 3.3.4

--force, --bucket, and --verbose don't seem to have their intended effect. For example, when using --bucket, the bucket specified in middleman's config.rb is not overridden.

Edit:
Here's s3_sync options in my config.rb

[code]

[2014-08-28 14:47] ebfg opened #63 "AWS permission requirements"
We're crafting an IAM user policy for use with this plugin. We weren't able to get it to work until we gave the IAM user read access to all buckets in our account. Write access is only required for the configured bucket. It seems like read should be similarly  restricted.

[2014-08-30 22:42] #63 closed, assigned to nobody

[2014-09-01 22:31] #62 closed, assigned to nobody

[2014-09-03 00:26] makenosound opened #64 "undefined method `aws_access_key_id'"
Hello!

I’m setting this error consistently in 3.0.32:

[code]

If I pin the gem to 3.0.26 everything works fine again.

[2014-09-03 04:35] #64 closed, assigned to nobody

[2014-09-08 18:53] allaire opened #66 "Error on after_build"
I get the following error when I activate after_build:

[code]

When I run `middleman s3_sync` independently (after `middleman build`) it works well.

[2014-09-08 23:43] #66 closed, assigned to nobody

[2014-10-07 12:28] chriseidhof opened #67 "gzip not working?"
Here's the code I have in my config.rb:

[code]

However, somehow, the files are not gzipped. Not sure if I'm doing it wrong, or if I found a bug.

[2014-10-07 12:38] #67 closed, assigned to nobody

[2014-11-01 11:13] osiegmar opened #69 "Support of Amazon S3 Signature Version 4 Authentication"
Currently it seems not possible to use s3_sync with eu-central-1 region (Frankfurt). This is because AWS4-HMAC-SHA256 authentication scheme does currently not being supported by middleman-s3_sync.

The http://docs.aws.amazon.com/AmazonS3/latest/API/bucket-policy-s3-sigv4-conditions.html for further information.

[2014-11-19 05:27] #69 closed, assigned to nobody

[2014-11-30 17:07] #56 closed, assigned to nobody

[2014-12-28 10:32] balthisar opened #70 "Colorize 0.7.5 non-public API use breaks middleman-s3_sync"
In `status.rb`:

`puts :s3_sync.to_s.rjust(12).light_green + "  #{status}"`

`light_green` isn't part of the published Colorize API according to @fazibear (https://github.com/fazibear/colorize/issues/30), and now it's missing in current 0.7.5.

Sorry for not doing a PR -- I simply deleted the color in a local checked-out version.

[2014-12-29 06:05] #70 closed, assigned to nobody

[2014-12-31 05:56] ElaineYu opened #71 "undefined method 'green' - recent ansi change"
Hello!  I'm getting this error:
in `say_status': undefined method `green' for "     s3_sync":String (NoMethodError)

after running this command:
bundle exec middleman s3_sync --bucket=my-aws-bucket-name

I believe this recent ANSI change is breaking the upload.
https://github.com/fredjean/middleman-s3_sync/commit/6f78401145b24a5b9230636bdde7eab9993c7f6c

Thanks in advance!  Hope you have a happy n

[2015-01-01 18:19] fredjean commented on #71
Can you point your middleman-s3_sync gem to this repo and try to run it again. I want to see whether my changes resolved them.

Here's the line that I use on my blog's Gemfile:

[code]

I'll push a new release if this works for you as well.

[2015-01-01 19:18] rossf7 commented on #71
Hi, I just hit the same error and using the repo version fixes it for me.  Thanks and Happy New Year!

[2015-01-01 19:54] fredjean commented on #71
I'm glad it helped. I will push a new release later today.

Happy new year!

-- Fred

On Thursday, January 1, 2015, Ross Fairbanks <notifications@github.com>
wrote:

[2015-01-01 23:36] fredjean commented on #71
And I just released 3.0.40 to Rubygems.

[2015-01-01 23:36] #71 closed

[2015-01-05 03:36] ElaineYu commented on #71
Thanks @fredjean!  You're awesome!  Hope you had a happy new year!

[2015-01-05 04:45] fredjean commented on #71
@ElaineYu Thank you for raising the issue! I hope you had a happy new year as well.

[2015-01-21 15:06] alex88 opened #72 "Extension seems not active"
Hi there, I've this Gemfile:

[code]

this config.rb

[code]

the extension seems loaded since:

[code]

however, trying to sync I get:

[code]

I'm using ruby 2.2.0 and this is my Gemfile.lock:

[code]

[2015-01-21 16:05] alex88 commented on #72
My fault, bucket was set to an unset env variable

[2015-01-21 16:05] #72 closed

[2015-01-21 16:32] fredjean commented on #72
Ah! No worries. This is one of the best issue/bug report that I have seen in a long time!

[2015-01-25 03:30] stoplion commented on #63
Doesn't policy need a `Principal`?

[2015-01-27 14:49] fredjean commented on #63
@stoplion It depends on how the policy is defined in IAM. In my case, I use the AWS Management Console to create a group for the IAM users who can push to my bucket and created the policy directly with the group. I don't have to specify the Principal in this case.

Using the IAM APIs will probably require you to specify a Principal since there isn't a context for the policy itself.

[2015-02-04 23:40] dikaio opened #74 "Prefix in README"
I think the README might read wrong where it states that the prefix when publishing to a folder in the bucket should contain a a forward slash at the beginning. I've been having trouble uploading and when I removed the forward slash at the beginning of the prefix it work.

[2015-02-20 15:49] #74 closed

[2015-02-23 19:01] alex88 opened #76 "Middleman 4 compatibility"
Hi there, I've seen you're actually working on mm4 support, any hint in how to use it already? is it possible?

Using your mm4 branch I can't run s3 sync since I get `Could not find command "s3_sync"`

[2015-02-23 22:58] lpil opened #77 "Throw error if run when the build directory is not present."
Heya!

I just accidentally wiped a site from it's bucket by running s3_sync without running build first, oops ;)

While it was very quick to fix, it would be nice if there was a safeguard against this. For now I'm checking if `ARGV.first == 's3_sync'` in my config and having it run build if not.

Cheers,
Louis

[2015-02-24 15:51] fredjean commented on #76
It's definitively a work in progress and it is not ready for use.

Middleman 4 is going to drop some of the APIs that s3_sync is using, so
there is a bit of a deadline in adapting the gem to the new ones. I
haven't been able to work on it for the last few weeks, but my calendar
is looking lighter and I should be able to get back to it.

Thanks!

Fred

Alessandro Tagliapietra wrote:

[2015-02-24 15:57] alex88 commented on #76
Thanks for the update man! Looking forward to it! Great work! ;)

[2015-02-24 15:57] #76 closed

[2015-04-14 08:44] Calyhre opened #82 "== Unknown Extension: s3_sync"
Hello,

`fog-aws` seems to have breaking changes in it's API and this extension is no longer auto loaded with Middleman.

Manually fixing the `fog-aws` version to `0.1.1` fix the problem for me.

Tried with `middleman 3.3.10` and `middleman-s3_sync 3.0.43`

[2015-04-14 08:47] Calyhre commented on #82
Some precisions, manually requiring `middleman-s3_sync` with `fog-aws` to 0.1.2 give me this:

[code]

Don't have any problem with `0.1.1`:

[code]

[2015-04-14 17:34] #82 closed

[2015-04-15 23:06] Fodoj opened #84 "Proper IAM Roles usage"
Currently it seems like IAM Roles are not supported, thought I might be wrong. I am already on EC2 instance, so I don't want to store my access keys on the instance and use IAM Roles and Policies instead. Am I right that at the moment this feature is not supported?

[2015-04-16 01:10] fredjean commented on #84
You are correct. It appears to be somewhat easy to add.

[2015-04-16 09:54] Fodoj commented on #84
I will provide a PR then

[2015-04-16 12:07] Fodoj commented on #84
See attached PR. I am closing this issue.

[2015-04-16 12:07] #84 closed

[2015-05-07 20:17] pixelsonly opened #86 "Override prefix via a new switch?"
Just curious, I've run across a need for this use case but I'm not sure how difficult it would be to implement.

[2015-05-07 20:50] fredjean commented on #86
Can you expand on what you mean?

[2015-05-07 21:38] pixelsonly commented on #86
@fredjean I just noticed the title didn't make any sense. What I meant to ask was if would be possible to override the prefix option via the CLI just like we can the bucket name?

[2015-05-07 21:41] fredjean commented on #86
Sure. The only reason it's not here is that no one asked for it! I'll add it tonight.

[2015-05-07 21:45] pixelsonly commented on #86
@fredjean very cool, I can't tell you how much I appreciate this!

[2015-05-08 04:02] fredjean commented on #86
I can't get to it tonight, but I'll address it first thing in the morning.

On Thursday, May 7, 2015, Ryan Lindsey <notifications@github.com> wrote:

[2015-05-09 02:11] fredjean commented on #86
Sorry for  the delay. I just pushed version 3.0.46 which includes support for this new switch.

[2015-05-09 02:11] #86 closed

[2015-05-28 18:41] gkop commented on #7
+1, this gem is awesome, this feature would make it more awesome.

My use case is avoiding using Middleman's [directory indexes](https://middlemanapp.com/advanced/pretty_urls/) feature to produce extension-less URLs. With directory indexes and s3, [s3 redirects adding an ugly trailing /](https://docs.aws.amazon.com/AmazonS3/latest/dev/IndexDocumentSupport.html). In fact, this ugly behavior is even

[2015-06-12 07:29] leighmcculloch commented on #7
I've been using the very minimal changes in pull request #87 on a middleman site of ~500 dynamic pages that don't have extensions to set the content-type explicitly. It's not a perfect solution but I think it's a good-enough filler until the rewrite of the gem supporting the new Middleman callbacks.

[2015-06-15 01:04] #7 closed

[2015-08-27 14:50] coreycondardo opened #88 "light_green method missing"
I'm getting an issue with light_green method on Colorizer not being defined. Looks like there has been similar issues in the past.

[code]

[2015-08-29 17:14] ashfurrow commented on #88
Also seeing this.

[2015-08-29 17:19] ashfurrow commented on #88
I updated to latest and it worked fine – the current build doesn't even rely on the `colorize` library.

[2015-08-29 17:23] fredjean commented on #88
There was an issue with an earlier version of the gem. I also learned at that point that the Colorize library was licensed under the GPL, which is not compatible with the MIT license that I am using for this gem.

Upgrading the gem to the current version will take care of this issue.

[2015-08-29 17:23] #88 closed

[2015-08-29 20:01] ashfurrow commented on #88
Yup, worked for me. Thanks so much for this fantastic tool, @fredjean!

[2015-09-29 23:46] fredjean opened #89 "Use the build configuration when synchronizing"
Look for a way to apply the build configuration when the sync is started to avoid unpleasant surprises.

[2015-09-30 04:12] #89 closed

[2015-10-03 03:07] ajsharp opened #90 "uninitialized constant Middleman::S3SyncExtension::OPTIONS (NameError)"
Was trying to use the .s3_sync file, but ran into this error during loading.

[code]

[2015-10-03 15:52] fredjean commented on #90
I'll look into this issue later tonight.

[2015-10-03 22:10] naxIO opened #91 "`content_type': undefined method `content_type' for nil:NilClass"
Hey,

not sure if its me or a general problem. getting this while using middleman s3_sync --force

Build directory is present. It starts to sync some files and then:

[code]

[2015-10-04 04:48] #35 closed

[2015-10-04 04:48] #60 closed

[2015-10-04 04:48] #77 closed

[2015-10-04 05:05] #90 closed

[2015-10-04 16:48] fredjean commented on #91
I tried to reproduce on my side but I couldn't.

What is the file that it was trying to update? Is the file itself present on the bucket? Is it present in the build directory?

Thanks!

-- Fred

[2015-10-04 18:57] ajsharp commented on #90
+1 thx for the quick fix.

- Alex Sharp

[2015-10-04 20:03] fredjean commented on #90
You are welcome. It shipped with v3.3.1.

-- Fred

Alex Sharp wrote:

[2015-10-05 05:08] ajsharp opened #92 "Error when reading from .s3_sync file"
[code]

[2015-10-05 10:52] naxIO commented on #91
Gonna check, this could be it. I tied to find the file via a verbose option but no success. will test tonight. thanks

[2015-10-05 14:57] #92 closed

[2015-10-09 19:31] naxIO commented on #91
Hmm how can I debug this? is there a --verbose option?

[2015-10-10 17:51] ludwigschubert opened #94 "Improve documentation or add warning on `prefix` option"
When specifying a prefix such as `folder` I needed to add a trailing slash.
Is this intended behavior? If so, should we ammend documentation to mention this? I could also imagine a warning on the console, would this interfere with any intended usage, though?

Also: thanks for an otherwise awesomely simple deployment tool!

[2015-10-14 02:53] fredjean commented on #91
There is, but I am not sure that it is going to print interesting results.

I'll see if I can catch the exception (or verify that the resource is not null before calling content_type).

[2015-10-14 02:53] fredjean commented on #94
I'll add some code that will ensure that there is a / at the end of the prefix.

[2015-10-14 03:13] fredjean commented on #91
Could you try updating to v3.3.2? The code to determine whether a resource was local was modified to address that very issue.

[2015-10-14 03:58] fredjean commented on #94
v3.3.3 has the code that adds / at the end of the prefix if needed.

[2015-10-14 03:58] #94 closed

[2015-10-14 12:45] naxIO commented on #91
Now its working without an error. I have no idea why. I just upgraded (v3.3.3) and nothing more. Will get back but I think for no (hopefully forever) its solved. Thanks for your work on this :)

[2015-10-14 12:50] naxIO commented on #91
Well, lol. I was a bit too fast. While everything works now s3_sync is no longer syncing my gzip files (and deleted them on S3 aswell). Did something change there with v3.3.3? Shall I open a new issue? Thanks

[2015-10-14 13:25] fredjean commented on #91
How are the gzipped files created? Are they in the source folder or are they copied into the build folder as part of your build process?

Having access to the repo (or doing a screenhero session) might help.

[2015-10-14 14:59] naxIO commented on #91
I use
´´´
configure :build do
  activate :gzip
´´´

and did no changes there. The .gz are present in the build folder like

´´´
index.html
index.html.gz
´´´

it worked well in the previous version of this gem.

Thank you :)

[2015-10-14 15:22] fredjean commented on #91
s3_sync is now using the sitemap to figure out what files to push instead of looking for the files that on the build directory. When the `prefer_gzip` option is set, s3_sync looks for a .gz file and will push it's content up to S3 and set the appropriate meta-data. Otherwise it will push the non-compressed file.

S3 doesn't support content encoding negotiation at this point, but pushing the compre

[2015-10-14 17:44] evanleck opened #95 "undefined method `run_hook' for nil:NilClass (NoMethodError)"
Hi,

After upgrading from 3.0.47 to 3.3.3 I keep running into the same error part way through the sync operation:

[code]

My Gemfile.lock looks like this:

[code]

And my config is like so:

[code]

I'm a little confused why it gets part way through, but it always bails after doing some amount of work and I often end up with some weird partial content on S3.

Any help would be awesome, thanks!

[2015-10-14 20:33] fredjean commented on #95
I'll have a look at it tonight.

[2015-10-15 04:43] fredjean commented on #95
This error happens when the after_build setting is set to true. The @app variable is nil at this point, which causes the run_hook call to fail. I have a fix for that issue in master.

However, I am not able to make sure that s3_sync is called after all the other extensions. As a result, I don't recommend setting after_build to true, but instead run `middleman s3_sync` as a separate step.

Is it po

[2015-10-15 17:01] evanleck commented on #95
Ah, yeah I was using the `after_build` option. Makes sense, thanks for clearing that up!

I had to overwrite the partial content stuff (I was getting a 204 from S3 on certain objects) because it was causing problems for customers so I don't have a current link you could check. If you'd like, I can try and reproduce it and get you a link. Would that be helpful?

[2015-10-15 17:05] evanleck commented on #95
Also, I just was looking through the docs for Middleman and found this [after_build](https://middlemanapp.com/advanced/custom_extensions/#after_build) hook that might be useful.

[2015-10-15 17:15] fredjean commented on #95
You can pass -b <name-of-bucker> to s3_sync as a way to push content to
a separate bucket. It would allow you to push content somewhere else and
I could have a look there.

However, the 204 is a response that I have yet to come across... I'll
have to think of a way to reproduce it.

-- Fred

Evan wrote:

[2015-10-15 17:17] fredjean commented on #95
Yes, we are using the after_build hook if you set the s3_sync's
after_build option to true. I am having difficulties controlling the
order of the plugins in my tests though. I am considering submitting a
PR to MM to add another hook when it is ready to publish.

-- Fred

Evan wrote:

[2015-10-15 18:11] evanleck commented on #95
I can't seem to reproduce the 204 issue, maybe it was a fluke?

[2015-10-19 01:07] monfresh opened #96 "Caching policy for text/html only works if you add `; charset=utf-8`"
When I specified the following caching policy:
[code]
it did not set the Cache-Control headers on S3.

Then, I noticed that the Content-Type on S3 was listed as `text/html; charset=utf-8`, so I updated the policy to this:
[code]
and it worked.

Ideally, the policy would work with just `text/html`.

[2015-10-20 07:38] balthisar opened #97 "Syncing to nameless directory"
This strange; I've been using s3_sync for close to a year. Today I fresh installed a Ruby environment, updated my site to middleman 3.4.0, and s3_sync to 3.3.3.

Now when I bundle exec middleman s3_sync items are synced to a top level directory that doesn't have a name. I've always used `s3_sync.prefix = ''` in my `config.rb` without issues.

I've simply commented it out which I guess is forcing n

[2015-10-24 11:18] johnnyshields opened #99 "I18n: rename lang/language to locale"
Middleman has several variables like `lang` / `langs`. I think these should be renamed to `locale` in v4 to be consistent with the I18n gem--can make an alias for backwards compat.

[2015-10-24 11:19] johnnyshields commented on #99
Oops wrong gem!!

[2015-10-24 11:19] #99 closed

[2015-10-26 11:06] naxIO commented on #91
Hi, thanks for the info.

In my config I have
´´´
s3_sync.prefer_gzip = true
´´´´

Probably its working now

´´´
 s3_sync  Updating index.html (gzipped)
´´´

Website is www.schepan.com you can check if you want :+1: thanks

[2015-10-26 11:06] #91 closed

[2015-10-27 16:56] fredjean opened #104 "Release 4.0.0.rc.1"
I am considering yanking the current 4.0.0 gem and replacing it with a 4.0.0.rc.1 version of the same.

Middleman is still in the RC phase, and it is slightly misleading to advertise a version of the gem that may not work with Middleman 4.0.0 final. This means that it is likely that Middleman S3_Sync will be released as 4.0.1.

[2015-10-27 17:00] johnnyshields commented on #104
Yanking is a pain, why not just release the next one as 4.1.0.rc.1

[2015-10-29 07:24] johnnyshields commented on #104
@fredjean can you please make a release?

[2015-10-30 04:12] fredjean commented on #104
4.0.1.rc.1 has been released to Rubygems.

[2015-10-30 04:12] #104 closed

[2015-10-30 04:14] fredjean commented on #97
I'll update this in a follow up to the 3.3.3 release.

[2015-10-30 04:16] fredjean commented on #96
It is a result of getting the content type from the Middleman resource object. The fix should be pretty easy. I'll address it in a follow up to 3.3.3 and make sure that the fix is carried over to the 4.0.x stream.

[2015-10-30 19:59] sctb opened #105 "undefined local variable or method `s3_sync_options'"
When attempting to call `bundle exec middleman build` using
middleman-s3_sync 4.0.0 I get the following error:
[code]

This is occurring because of a reference to `s3_sync_options` in my
config.rb, which follows the `activate :s3_sync` block:
[code]

This works for a colleague but not for me. Is this the idiomatic way to
reuse S3Sync's configuration?

[2015-10-31 00:31] sctb commented on #105
After replacing the calls to `s3_sync_options`, I'm now getting
an error calling `after_s3_sync`, which suggests that there is
a more general issue.

[2015-10-31 01:33] sctb commented on #105
I had the wrong version of s3_sync installed, and after getting 3.3.3
I see this:

[code]

[2015-10-31 01:40] fredjean commented on #105
I'm flying back home tonight. I shod be able to look at this issue in more
details tomorrow.  Please post a full backtrace so I can see what is going
on.

The s3_sync_options method isn't meant to be used to expose the aws
credentials. How are you configuring the gem?

-- Fred
On Oct 30, 2015 6:33 PM, "Scott Bell" <notifications@github.com> wrote:

[2015-10-31 02:13] sctb commented on #105
Here is the Gemfile:

[code]

... and the backtrace:
[code]

[2015-11-02 07:49] balthisar commented on #97
Thanks. I've not looked into it myself as the workaround is working.

[2015-11-06 17:48] siruguri opened #106 "Undefined method config for Object:Class with upgrade to 4.0"
Upgrading to Middleman S3 Sync 3.4.1 seems to be causing an error. I am not sure if this is some sort of version incompatibility - here's what I have on my system:

* ruby 2.1.5p273
* middleman 3.4 (I had also tried this with middleman 3.3)

When I use Middleman S3 Sync 3.3 I don't see any errors. With 4.0, I get the error below. My `config.rb` is basically the default you get out of `midldeman in

[2015-11-06 19:45] fredjean commented on #106
The constraints on Middleman s3_sync 4.0.0 are not set correctly. You should not use it as it will not work with Middleman 3.3 or 3.4.

[2015-11-06 19:45] #106 closed

[2015-11-06 19:55] siruguri commented on #106
Oops, sorry, just noticed you have a version compatibility line in the README... Okay, thanks for the prompt response!

[2015-11-16 16:21] fredjean commented on #95
Fluke happen... As a note, it appears that the after_build hook is going away with MM4. We already have a solution in place for that release. I'll see if it's available under MM 3.x.

[2015-11-16 18:24] fredjean opened #108 "Provide a way to sync files outside of the MM sitemap"
This addresses the issue raised at [does middleman ignore .txt files by default](https://stackoverflow.com/questions/33298592/does-middleman-s3-sync-ignore-txt-files-by-default/33312037?noredirect=1#comment54568075_33312037). The conclusion is that the file was added to the build directory as part of an external build script. As a result, middleman was not aware of it and it was not in the site ma

[2015-11-27 13:32] michaeljbishop opened #109 ""Unable to verify certificate” openssl error"
Hello,

Without having changed any configuration on my machine, I’m now getting this error when syncing. Any idea how to fix it?

- Ruby 2.2.2
- Mac OS X - 10.11.1 (15B42)

[code]

[2015-11-28 12:00] michaeljbishop commented on #109
Found this answer...

https://github.com/excon/excon/issues/479#issuecomment-79066288

Still fails but am still digging. At any rate, it’s not an issue with s3_sync.

[2015-11-28 12:00] #109 closed

[2015-11-28 17:30] fredjean commented on #109
Sorry I didn't get to this earlier... I'm glad that you are moving toward a solution!

[2015-11-28 18:52] liorbrauer opened #110 "Mime Types Error"
Hi,

I upgrade to version `3.3.4` and have gotten the following error when deploying:

[code]

After a short investigation, I found that the `fog-core` dependency has been updated from `1.34.0` to `1.35.0`, which drops the required dependency on the `mime-types` gem.

I manually added `mime-types` to my Gemfile and it works now.

Might want to add this dependency directly to this gem?

[2015-11-28 23:36] fredjean commented on #110
Could you paste the whole stack trace? I would like to see where the error occurs and I cannot reproduce locally.

This might something that should probably be reported against Fog since other gems could be impacted.

[2015-11-29 06:34] cmoel commented on #110
@liorbrauer I ran into the same issue but was able to fix it by adding the `mime-types` gem to my `Gemfile`:

[code]

Does that resolve it for you?

[2015-11-29 07:06] liorbrauer commented on #110
@cmoel Yeah, that's exactly what solved it for me, thanks for sharing as well.

@fredjean I recreated the error by removing the `mime-types` gem and trying to sync again:

[code]

[2015-11-29 16:54] fredjean commented on #110
Thank you for the backtrace. I'll have time to look at it this afternoon.

[2015-11-29 20:49] fredjean commented on #110
I have released v3.3.5 of the middleman-s3_sync gem. This adds a runtime dependency on the mime-types gem to work around the fog issue.

[2015-11-29 20:49] #110 closed

[2015-11-30 07:23] liorbrauer commented on #110
Cool :+1:

[2015-12-04 15:03] heypiotr commented on #96
I've just run into the same issue. Any news here?

[2015-12-04 16:35] alex88 commented on #110
@fredjean I've this in my gemfile lock:

[code]

but I still get the same stacktrace, any clue?

[2015-12-04 16:41] alex88 commented on #110
Nvm, my fault, had to clear cache on CI for some reason!

[2015-12-04 16:42] fredjean commented on #110
No worries... Isn't cache invalidation one of the two hardest problems in CS? I'm glad you were able to resolve it.

[2015-12-04 16:43] alex88 commented on #110
Eheh :wink:

[2015-12-04 17:15] #96 closed

[2015-12-04 17:15] fredjean commented on #96
v3.3.7 should address this particular issue.

[2015-12-05 12:27] mschewe commented on #96
I am getting the following error:
[code]

May be you should use something like this:

[code]
It looks ugly but would prevent the error.

[2015-12-14 22:34] thedanotto commented on #108
Hi,

My issue may be related to the issue you described above, that's why I'm posting this here.

I'm new to middleman and I'm running middleman-blog on top of middleman. `bundle exec middleman build --clean` has generated a multitude of files within my build directory. Some of these files/folders are blog related. For instance, the folder, 2015 has various directories and files categorizing my po

[2015-12-15 16:55] fredjean commented on #108
Can you provide your Gemfile? The answer to your question will depend on which version you are using.

I recently ported s3_sync to use the Middleman site map, which *should* include all of the files generated by Middleman build. Files that are outside of the site map are not taken into account.

You can turn off deleting files that s3_sync doesn't know about using the `config.delete = false` opti

[2015-12-16 00:20] thedanotto commented on #108
You're right, I'm using an old version.

source 'http://rubygems.org'

source "https://rails-assets.org" do
  gem "rails-assets-jquery"
  gem "rails-assets-moment"
end

gem "bitters"
gem "bourbon"
gem "builder", "~> 3.0"
gem "fog-core", "1.34.0"
gem "middleman", "~>3.4.0"
gem "middleman-blog", "~> 3.5.3"
gem "middleman-dotenv", "~> 1.0"
gem "middleman-livereload", "~> 3.1.0"
gem "middleman-s3_sync

[2015-12-16 00:42] fredjean commented on #108
Is it working as expected after you updated the version?

[2015-12-16 01:16] thedanotto commented on #108
Well, unfortunately, I cannot really test because I was on the latest version for 3.x. And when I upgrade I go to version 4.0.0.

`Using middleman-s3_sync 4.0.0 (was 3.3.7)`

And the other gem, `middleman-blog` does not have a release for version 4.0. And I run into a couple other deploy errors even if I remove `middleman-blog` and update both `middleman-s3_sync` and `middleman`.

Is there a poten

[2015-12-16 16:02] fredjean commented on #108
@thedanotto  I yanked 4.0.0 from Rubygems because it's gemspec was poorly setup and was causing some issues. You should stick with the 3.3.x stream for now.

I don't have any idea at this point what is causing your issue though. Anything that Middleman put in the build directory should be handled. The only exception are gziped files. The original are ignored and the compressed files are sent up in

[2015-12-18 21:18] djalmaaraujo opened #112 "What if I need to upload extra files on build dir? Is that possible?"

[2015-12-18 21:49] fredjean commented on #112
Not currently. See #108

[2015-12-18 21:49] #112 closed

[2015-12-18 22:25] djalmaaraujo commented on #108
Where middleman stores this site map?

[2015-12-19 20:23] fredjean commented on #108
It is stored in memory. It's a compilation of all of the pages that are generated by the middleman build process.

[2015-12-21 02:39] cpence opened #113 "Error in caching policy code"
Not sure what's up here, but the caching policy code seems to be turning up a `nil` policy. I have no configuration related to caching anywhere in `config.rb`. Here's the backtrace:

[code]

and the Gemfile.lock:

[code]

[2015-12-21 15:46] #95 closed

[2015-12-21 16:02] #113 closed

[2015-12-21 16:04] cpence commented on #113
Awesome, thanks!

Another note: I can't seem to call `caching_policy` or `default_caching_policy` from config.rb. Getting undefined method errors. Are they being exposed to the config block in a new/different way?

[2015-12-21 16:13] fredjean commented on #113
MM4 basically changed everything when it came to how extensions hook into it. This was done with very little documentation and led to a very frustrating and error prone porting process. Thankfully, @johnnyshields helped a lot with getting it from the 3.3.x extension APIs to the 4.0 extension APIs.

There's finally documentation on how MM4 expects extensions to hook into itself. This will make fixi

[2015-12-21 16:29] cpence commented on #113
Will do. Thanks for the great extension and the quick MM4 upgrade!

[2015-12-21 16:30] cpence opened #114 "Cannot call ClassMethods"
In MM4, you can't call the ClassMethods (`s3_sync_options`, `caching_policy`, `default_caching_policy`) from `config.rb`. Likely some sort of API change.

Thanks!

[2015-12-21 16:45] cpence commented on #108
I'm 99% sure that Middleman now has the support you need for this without adding it to this extension. The new MM4 `import_path` functionality adds a directory to the sitemap. The example from the docs is:

[code]

It's not super clear how this actually would be used, but I *think* it's going to let you add whatever you want to the sitemap.

[2015-12-21 22:32] johnnyshields commented on #113
You guys must be psychic because I just encountered `caching_policy` / `default_caching_policy` on my first production of Middleman!

Here's my workaround for now. Think we should make this as official options:

[code]

[2015-12-22 01:19] dannguyen commented on #97
Just for reference for anyone else who runs into this...@balthisar's [fix is still needed and still works](https://github.com/fredjean/middleman-s3_sync/issues/97#issue-112305360) for version 4.0.x and Middleman 4.x

[2016-01-05 05:24] monfresh commented on #110
Simply adding `mime-types` as a dependency of `middleman-s3_sync` does not solve the bug with Fog. This is because `mime-types` does not get automatically `require`d when added as a runtime dependency. However, if you manually add `gem 'mime-types'` to your Gemfile, Bundler will automatically `require` it, and syncing will work.

I just installed `middleman-s3_sync` version 3.3.7 (which includes `

[2016-01-05 05:32] fredjean commented on #110
@monfresh Yes, I brought that very same point to the fog project a while back and was told to add `mime-types` to the dependency. Please, go make noise in the fog project and raise the issue to @geemus 's attention so it gets fixed where it needs to be fixed. I have already done what I could to mitigate the issues raised by the fog project's decision not to remove the dependency on `mime-types`.

[2016-01-05 06:07] monfresh commented on #110
Thanks. I added my comments as well: https://github.com/fog/fog-core/issues/171#issuecomment-168907228

One thought: have you considered using the [aws-sdk](https://github.com/aws/aws-sdk-ruby) by itself, since this gem is specific to S3? What is the reason for depending on fog?

[2016-01-05 06:10] fredjean commented on #110
The AWS SDK is rather painful to use. At the time, fog provided an awesome abstraction over it.

[2016-01-05 06:16] monfresh commented on #110
Gotcha. I'm pretty sure that is no longer the case. If I found the time to replace fog with the official SDK, would you be open to a PR?

[2016-01-05 12:33] fredjean commented on #110
Yes, I would.
On Jan 4, 2016 11:16 PM, "Moncef Belyamani" <notifications@github.com>
wrote:

[2016-01-05 15:25] geemus commented on #110
I would also welcome help fixing it on the @fog side in case that would be faster/easier.

[2016-01-06 04:27] monfresh commented on #110
To go back to this issue here, what I would do is remove the mime-types dependency (since it doesn't do anything to solve the problem), and update the gemspec to lock the version of fog-core to 1.34.0 until fog-core fixes this issue. That way, middleman-s3_sync users won't run into this issue while we're waiting for fog-core to be fixed.

[2016-01-14 12:07] joshukraine commented on #108
@fredjean So am I understanding correctly that for the moment, `middleman-s3_sync` does not support MM v4? I'm working on building a few sites with MM v4, and would really like to use your gem. Is there a workaround or maybe an ETA when this will be possible? Thanks!

[2016-01-15 22:19] fredjean commented on #108
@joshukraine Version 4.0.1.rc.3 is available on Rubygems for testing. I haven't converted my own site to MM4 yet so I haven't been able to fully test it.

[2016-01-20 14:48] andreas-venturini commented on #96
@fredjean same error on v.3.3.7 (latest from master)

[code]

[2016-01-21 17:04] fredjean commented on #96
v3.3.8 addresses this.

[2016-01-21 17:06] #105 closed

[2016-01-21 17:09] fredjean commented on #114
v4.0.1 (no more rc) should address this.

[2016-01-21 17:09] #114 closed

[2016-01-21 17:10] fredjean commented on #105
v4.0.1 should address this.

[2016-01-25 17:30] jordelver opened #116 "Some pages not being synced to Amazon"
I have a problem with some pages not being uploaded to Amazon S3.

I'm using the blog extension. Everything uploads correctly except for the blog category pages which are served at blog/categories/. See output below.

The site is public [here](https://github.com/jordelver/jordanelver.co.uk) if it helps.

I thought it was because the category pages were not in the sitemap, but when I visit `http://

[2016-01-25 18:42] fredjean commented on #116
Could you post your `config.rb` file (minus any AWS credentials), `Gemfile` and `Gemfile.lock` so I can see what versions you have?

[2016-01-25 18:43] fredjean commented on #116
Nevermind... I didn't realize that the repo was public. Looking into it...

[2016-01-25 18:46] fredjean commented on #116
Try moving the s3_sync configuration block after the blog one.

[2016-01-25 22:32] jordelver commented on #116
Thanks, it does have an impact but still wants to delete the category folders.

[code]

[2016-02-01 22:58] aarti commented on #97
I sent a PR for this bug

[2016-02-07 18:46] #97 closed

[2016-02-07 18:50] fredjean commented on #108
@joshukraine v4.0.1 and v4.0.2 provide full support for MM4.

[2016-02-08 07:25] joshukraine commented on #108
@fredjean 😃👍🏻

[2016-02-08 15:27] fredjean commented on #108
@thedanotto Are you still having this issue?

[2016-02-08 15:56] fredjean commented on #116
I was able to (somewhat) reproduce this morning.

I changed the blog taglink setting and immediately did an `middleman s3_sync`. The articles were not updated and the existing tags based path were removed.

However, the behavior was what I expected once I ran a `middleman build` before the sync. The tags path were changed to categories and were sync'ed as I expected them to.

Can you give it a try

[2016-02-10 21:13] thedanotto commented on #108
Let me do an upgrade tonight and check. If I am I'll get you a more detailed report on what's going on and create you an example repository that can be forked.

[2016-02-10 22:41] thedanotto commented on #108
Just upgraded to latest version and it's ALL GOOD IN THE HOOD! Thanks for all your work on this.

[2016-02-11 01:14] fredjean commented on #108
@thedanotto Excellent! Thank you for following up.

[2016-02-12 14:18] rossedman commented on #97
:+1: Thank you for this fix.

[2016-02-16 13:05] jordelver commented on #116
Sorry for the late reply. I just tried this and it doesn't change anything unfortunately :(

[2016-04-06 11:24] Tejs opened #120 "bundle exec middleman s3_sync --build. not working"
Hi, I'm trying to run a build before the sync like it says here:
https://github.com/fredjean/middleman-s3_sync#run-build-before-synchronizing

I use this command:
bundle exec middleman s3_sync --build

It returns:
Unknown switches '--build'

This command work well:
bundle exec middleman s3_sync --dry_run
So it seems to be specifically related to the --build

[2016-04-06 12:55] fredjean commented on #120
What version of middleman s3_sync are you using?

[2016-04-06 14:46] Tejs commented on #120
middleman-s3_sync-3.3.9

[2016-04-06 16:48] fredjean commented on #120
I'll have to check, but I'm not entirely sure that it was backported to the v3.3.x branch.

[2016-04-07 06:55] Tejs commented on #120
This is definitely my mistake, seems like I'm running middleman in an old version.
I'll update it – sorry for the inconvenience!

[2016-04-07 06:55] #120 closed

[2016-04-30 05:30] bostonaholic opened #121 "Updating middleman and middleman-s3_sync errors with content_types"
I updated middleman to `3.4.1` and middleman-s3_sync `3.3.9` and get the following error when trying to set `s3_sync.content_types`:

[code]

[2016-05-01 16:17] fredjean commented on #121
Can you provide an example of how you are using the content_types setting?

Thanks!

[2016-05-01 16:48] bostonaholic commented on #121
It worked fine in middleman `3.3.12` and middleman-s3_sync `3.0.47`. The error occured once I updated.

[code]

[2016-05-06 20:49] tlindsay commented on #116
I'm having a similar issue to this. My favicons aren't getting pushed up. I'm using [follmann/middleman-favicon-generator](https://github.com/follmann/middleman-favicon-maker), and I've confirmed the favicons *are* in the build dir.

[2016-05-07 16:06] fredjean commented on #121
It looks like the change to support this wasn't fully ported to the middleman sitemap changes. Working on it.

[2016-05-07 16:50] fredjean commented on #121
I have updated the v3.3.x and master branch to expose that option. My ability to test the v3.3.x branch is limited as I have moved my test cases to MM 4. Could you try it and see whether this addresses it?

[2016-05-09 21:43] bostonaholic commented on #121
👍

Thanks!

[2016-05-09 22:48] fredjean commented on #121
I'll push new releases of v3.3.x and v4 later tonight.

[2016-05-14 15:33] ashfurrow opened #122 "403 on Sync"
Hi there! Big fan of this project. I've been having issues with syncing since I put in a bucket policy to whitelist my CDN's IP addresses. Since then, I've been able to sync locally but not using Travis (with identical environment variables). Very strange.

My bucket policy looks like this:

[code]

I added an additional statement based on https://github.com/fredjean/middleman-s3_sync/issues/63 bu

[2016-05-14 16:06] fredjean commented on #122
IAM policy DENY policies take precedence over the allow policies. In this case, you are denying access to any principals outside of the approved IP range. I'm guessing that the IP range(s) contain the IP address for your office or location.

The [IAM Policy Evaluation Logic](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_evaluation-logic.html) document goes over this in detail

[2016-05-14 16:10] fredjean commented on #122
I'll have to borrow some of your CDN hooks since I am also exposing my site through Cloudflare as well.

[2016-05-14 17:40] ashfurrow commented on #122
Awesome! That worked, I didn't know about `NotPrincipal`, thank you very much. I had to remove `Principle` from the policy, Amazon insisted I couldn't have both, but it worked.

[Here](https://github.com/ashfurrow/blog/pull/207/files) is the PR I added fetching Cloudflare IPs and updating the bucket policy. Thanks again for the quick reply and assistance!

[2016-05-14 17:40] #122 closed

[2016-05-15 22:12] macandcheese opened #123 "Error during deploy: [fog][WARNING] 'mime-types' missing, please install and try again."
Just recently started receiving this error. Tried re-installing fog and mime-type gems, no luck.

Full output:

[2016-05-16 01:33] fredjean commented on #123
I am sorry if I sound cranky, but I have many issues opened around this and pulled in the fog developers more than once. What you are seeing is caused by [this issue](https://github.com/fog/fog/issues/3775).  Please raise an issue with the fog project since this is where the root cause is.

You might be OK if you add the `mime-types` gem to your Gemfile. You might not. I have already tried what I

[2016-05-16 01:33] #123 closed

[2016-05-16 01:53] macandcheese commented on #123
Appreciate the response, adding

as a dependency in config.rb worked for me.
I hadn't updated any project dependencies so it's strange the error only cropped up recently.
Thanks again.

[2016-05-17 10:25] mathie opened #124 "Unnecessary build of external asset pipeline on sync?"
I'm trying to speed up my deploy pipeline a wee bit. I'm using gulp as an external pipeline in Middleman, configured with:

[code]

When I run `middleman sync` (without the `--build` option), it's still kicking off the external pipeline, and rebuilding all the external assets. My feeling is that it shouldn't be doing that.

I think the external pipeline plugin is kicking off a build on initialisat

[2016-05-17 10:27] mathie commented on #124
Oh, the entire repo is up at [wossname/www.rubyonrails.co.uk](https://github.com/wossname/www.rubyonrails.co.uk) if you want to poke around at the rest of the config. 😄

[2016-05-18 03:31] fredjean commented on #124
Hi @mathie . We need to set the mode to build so we get the whole sitemap as the source of paths to evaluate when deciding what to sync. (At least I am pretty sure that we need to).

[2016-05-18 03:33] mathie commented on #124
Good timing, I was just about to follow up with the tidbit I got from Thomas on the main repo:

I have no idea if that works, but I’m willing to do a bit of testing today, so I’ll soon find out. :)

G

[2016-05-20 19:59] whitmanc opened #125 "Times shown when syncing are unclear"
Thanks for the great gem - working like a charm. Noticed one obscurity, though, when running `middleman s3_sync` some times are shown that don't make much sense to me. Please see screenshot

<img width="1128" alt="screen shot 2016-05-20 at 12 53 10 pm" src="https://cloud.githubusercontent.com/assets/1023159/15440394/11408c1e-1e8a-11e6-8700-c2e6adf83833.png">

[2016-05-21 16:47] 5t111111 opened #126 "Gzipped resources on S3"
As described in [README](https://github.com/fredjean/middleman-s3_sync#gzipped-content-encoding), when you set `prefer_gzip`, gzipped version of the resources should be pushed to S3.

And the logs also says like the following:

[code]

However, I can find only uncompressed resources like `index.html` instead of `index.html.gz` on S3 Management Console, Content-Encoding seems to be correctly set as

[2016-05-21 20:10] fredjean commented on #126
It is. S3 is a purely static store and does not perform content negotiations with the clients. We are cheating by pre-compressing the file and reporting it's content encoding as gzip. Browsers that support gzip encoding (which should be all browsers at this point) sees it as being compress and handle it properly.

Cloudfront can perform content negotiation and it will compress files on the fly if

[2016-05-22 00:39] 5t111111 commented on #126
Thank you, but I still have a question.

From what I understand, if middleman-s3_sync handles generated files by the following steps,

there should exist files like `index.html.gz` on S3, doesn't it?

However, as i wrote before, S3 Management Console looks like the below:

![s3_management_console](https://cloud.githubusercontent.com/assets/333180/15451506/92535e72-2000-11e6-9110-a2e08749f1d5.png)

[2016-05-22 00:43] fredjean commented on #126
We push the content of index.html.gz into index.html on S3 so that the
links still work. We do not push the original, non compressed content up.

On Sat, May 21, 2016, 6:39 PM Hirofumi Wakasugi <notifications@github.com>
wrote:

--
Fred Jean (fred@fredjean.net)

[2016-05-22 01:04] 5t111111 commented on #126
Now I understand how it works. I really appreciate your help, thanks!

[2016-05-22 01:04] #126 closed

[2016-05-23 16:22] fredjean commented on #125
The main goal here is to show that something is happening since it takes a while to evaluate the resources to see whether they need to be sync'ed. The time displayed is a very loose estimation of the time remaining to complete the task. They should be taken about as seriously as any other progress bar.

[2016-05-23 16:50] whitmanc commented on #125
@fredjean Thanks for following up & got it. It definitely serves it's intended purpose, and I bet it is more useful for larger projects.

[2016-05-23 16:50] #125 closed

[2016-05-31 22:52] #121 closed

[2016-06-05 16:38] monfresh opened #127 "Alternative that doesn't depend on Middleman"
Hi Frederic. This isn't really an issue. I just wanted to share with you a really cool gem I came across that works exactly like anyone would expect it to. What's great about it is that it supports S3 sync, cloudfront invalidation, redirects, and a lot more, and doesn't depend on any specific type of static site generator.

The lack of dependencies makes sense since really all you're dealing with

[2016-06-18 06:19] Stono commented on #123
The additional gem worked for me too..

[2016-06-27 07:56] janwiemers opened #128 "javasripts & stylesheets folder is not being synced"
Hi Fred,

thanks or answering that fast via twitter.
Here is the requested issue with as much details as I can give, hopefully :)

Basically everything from the build folder gets synced to the bucket expect the `builde/javascripts` & `build/stylesheets` folder. `build/images` and the content is synced completely.

I checked the folder rights/permissions, but to me everything looks fine.
[code]

**

[2016-06-27 13:37] fredjean commented on #128
Could you provide the output of the sync command? I am curious to see what it thinks it needs to do.

Currently, s3_sync only synchronizes the files that it sees through the Middleman sitemap. This appears to be causing issues when the files are generated outside of it. I'll see what `middleman-sprockets` and `middleman-compass` do. I suspect that they might be working outside of the internal site

[2016-06-27 13:56] janwiemers commented on #128
Hi sure,

yes here is the output

[code]

[2016-06-28 01:15] fredjean commented on #128
What do you see when you run a middleman s3_sync with the -v flag? This
will show the decision whether to update on every file rather than just the
ones that are created or updated. Having a link to the site, the repo or
the bucket would help.

On Mon, Jun 27, 2016 at 7:56 AM Jan Wiemers <notifications@github.com>
wrote:

--
Fred Jean (fred@fredjean.net)

[2016-06-28 08:43] janwiemers commented on #128
here is the output

[code]

[2016-06-28 10:27] janwiemers commented on #128
Hey Fred,

just got rid of this issue, but w/o finding the root cause :(
I updated from ruby-2.2.2 to ruby 2.3.1 after that everything works quite fine.
Maybe there is an issue with this special version of ruby.

Thanks for your help!
If you want we can nail it down together, I hate such situations :)

But this issue could be closed I think, whats your thought on that?

Best Jan

[2016-06-28 13:54] fredjean commented on #128
I'm glad this is working, but I'm with you. It would have been good to find
the root cause.

On Tue, Jun 28, 2016 at 4:27 AM Jan Wiemers <notifications@github.com>
wrote:

--
Fred Jean (fred@fredjean.net)

[2016-06-28 17:11] janwiemers commented on #128
Hi Fred,

just nailed down the root cause.
this happens when you have `activate :asset_hash` in a case statement like I have in my build statement.
When you take this out and always activate it, it works like a charm.

Hope that helps to fix the issue.

best Jan

[2016-06-28 18:00] #127 closed

[2016-06-28 18:37] fredjean commented on #127
Hi @monfresh . My apologies for not responding earlier.

I think that it's a good solution. I haven't looked deeply at the source to see whether it uses a similar set of rules to figure out which files have changed and need to be updated, but that might not necessarily matter to you.

I considered splitting s3_sync into parts that rely on Middleman and parts that do not, but I haven't found the en

[2016-06-30 18:00] matiasgarciaisaia commented on #116
I had this very same issue but regarding blog pages - `/blog` would sync, but not `/blog/pages/2`.

_"Fixed"_ it by activating the `s3_sync` extension _after_ the `blog` one.

[2016-07-12 08:31] mathie commented on #116
FWIW, I think I've seen the same behaviour this morning on one of my sites. I think what's happening is that the `proxy` resource configuration isn't triggering the sitemap to be refreshed, so s3sync isn't becoming aware of pages declared with it, unless the sitemap is refreshed later in the configuration file. (Does that even make sense?)

In my particular case, I've got a `ready` block that adds

[2016-07-13 04:18] mathie opened #129 "Patch to set S3 redirects?"
I've wound up monkey patching Middleman & s3sync to support setting `x-amz-website-redirect-location` on resources configured with the `redirect` method in `config.rb`:https://github.com/wossname/woss.name/blob/master/helpers/s3_redirects.rb. Is that the sort of thing I should be tidying up into a pull request at some point?

[2016-07-13 15:18] fredjean commented on #129
Absolutely. I haven't been paying any attention to s3_redirect and merging this into s3_sync makes a lot of sense.

[2016-07-13 19:24] mathie commented on #129
Awesome. In which case, I'll tidy it up into a pull request. 😄

[2016-07-28 11:43] sandstrom opened #130 "Making website static hosting optional"
Thanks for an awesome extension! 🎈 🌳

When using CloudFront to serve the site (from S3) it's useful *not* having static website hosting on the bucket enabled.

Is there a way to configure this with S3-sync? (setting the acl to `'private'` helps but it's still published, I'd rather not have it published at all)

*Also, out of curiosity, have you considered using the AWS Ruby gem instead of fog?*

[2016-07-30 19:25] fredjean commented on #130
S3 Sync doesn't require the bucket to be a website. This is something that is configured outside of it.

As for fog vs AWS Ruby... I am cranky enough at fog, but I don't have the time or energy to rewrite the gem. I will however accept a PR that would do it.

[2016-09-19 20:53] joallard opened #132 "Directory not being synced"
I'm using `middleman-dragonfly_thumbnailer` to generate some thumbnails. After a build, the right thumbs are in the `build/` folder, more precisely in `build/images/100x100`.

So, if I have `build/images/1.png`, I have `build/images/100x100/1.png`.

However, on sync, only the original images are copied. S3sync is simply not listing those files. The thumbnailer is activated before s3_sync in `confi

[2016-09-19 20:56] fredjean commented on #132
s3_sync in using the internal Middleman sitemap to figure out what files need sync'ed. Some people have had some success moving the s3_sync block down so it is the last extension to be loaded by Middleman and it gets a full sitemap.

[2016-09-19 20:59] joallard commented on #132
Coincidentally, it was already the last block!

I just tried reverting to the most recent 3.0 and got a regression, I'm bisecting and will report back what I find.

[2016-09-19 21:18] joallard commented on #132
Well, that wasn't a very productive bisect, I tried bisecting the mm4 branch in between various error messages, not very helpful in diagnosing this issue as the commits can't be tested.

I can tell you that unsurprisingly, I'm getting the issue between `v3.3.0^` (bad) and `v3.0.47` (good).

[2016-09-19 21:20] joallard commented on #132
Note: Probably Sync is not seeing those items in the sitemap, because if they are on S3, it's going to delete them. That's fairly logical.

[2016-09-19 21:53] joallard commented on #132
In 3.3, S3Sync went from using the `build/` directory to using the sitemap. The sitemap doesn't contain the thumbnails. ...Pretty much a worst-case here.

[2016-09-19 22:01] fredjean commented on #132
Yes, this is what I was mentioning above. This was done to transition to the new extension model that was introduced in MM 3.3 and MM 4.

I don't have the time or energy to work on the v3.3.x branch. I will take PRs on that branch if you come up with a solution to your issue. I know that this is less than optimal, but my day job and taking care of my family takes precedence on this project.

[2016-09-19 22:06] joallard commented on #132
Totally understand on that last point, I'm a maintainer too who has to take time to make ends meet rather than prioritize volunteering serving users.

I don't really mind using 3.0 over 3.3. I'm not really looking to have it fixed in 3.x, just wondering what's going to happen in master. I'm not familiar with the precise context in Middleman extensions, I'm guessing sync v4 also behaves that way?

[2016-09-19 22:22] fredjean commented on #132
Middleman 4 behaves in the same way. `master` is now tracking (or
attempting to track) MM4. The extension API changed drastically on the path
to MM4 which required a large scale rewrite of the code that deals with
figuring out what resources to sync. Some of the changes were introduced in
MM 3.3.

It's likely that the other extension will need to adapt to the sitemap to
keep up with it.

On Mon, S

[2016-09-19 22:28] joallard commented on #132
All right, thanks for confirming Fred. Hopefully this here will be of help to anyone else with the same question. I'll make a note at the other project.

[2016-09-19 22:28] #132 closed

[2016-10-06 04:26] csimmons0 opened #134 "Setting content-type isn't working"
I've been unable to set files' content-type. Is this a known issue? I tried debugging it by putting some print statements inside of the "def content_type" statement in resource.rb, and it looked like the Middleman::S3Sync::content_types dictionary was completely empty no matter what I put in s3_sync.content_types in config.rb. It also looked like the local_path variable used as a key to that dicti

[2016-11-19 22:48] #129 closed

[2017-01-06 15:09] simmerz opened #137 "not syncing txt and zip files created after_build"
I'm generating .txt and .zip files of my HTML files after build but s3_sync doesn't appear to be uploading them to S3. Not sure what I need to do to get them to be seen?

[2017-01-27 15:09] djalmaaraujo commented on #137
👍 Same for me.

I have .appcache files + other png files generated after the build.

[2017-02-03 03:27] manuelmeurer opened #138 "`after_s3_sync` functionality in v4"
The `after_s3_sync` was removed in v4 since Middleman v4 doesn't support hooks anymore. Is there any other way to implement the same functionality?
I used it to invalidate only the updated and deleted files on my CDN:

[code]

[2017-02-03 07:50] manuelmeurer commented on #138
The hooks feature was replaced with the [`CallbackManager`](https://github.com/middleman/middleman/blob/master/middleman-core/lib/middleman-core/callback_manager.rb) which is used to implement the built-in callbacks. Could this be used by extensions to implement callbacks for the developer as well?

[2017-02-08 10:08] rsharrott commented on #116
Had the same problem with pages that I created with proxy that came from data downloaded prior to build.

Wrapping the `proxy` code in a `ready do` block makes the files get ignored in sync.

This is ignored:
[code]

This is included:
[code]

[2017-02-08 14:22] matiasgarciaisaia commented on #116
Sorry, forgot to comment on this issue. You can check [my last comment](https://github.com/fredjean/middleman-s3_sync/pull/135#issuecomment-269704464) on #135:

So my `config.rb` is something like:

[code]

I'm not sure if there's anything that can be done in either Middleman or middleman-s3_sync to avoid that extra call.

[2017-02-25 17:46] tgautier commented on #130
You have to  remove the following lines if you don't want static website hosting to be enabled.

[code]

[2017-03-15 21:39] juliankrispel opened #142 "Expose routing rules config"
Was wondering if there's a reason why this part of the config was left out, since error_document and index_document are both configurable.

Would be really useful!

[2017-03-29 06:44] ricardclau opened #143 "Any way to not delete S3 redirections?"
Hi

We are using this gem to deploy our static site to s3
Due to historical reasons, we need to have some redirections in the s3 bucket and every time we deploy they are deleted and need to be (at the moment) manually added. Is there any way to prevent that?

Or if this is not the case, how would we define them in the config or rb files? Is there any extra gem for that?

I could not find much docu

[2017-04-10 06:43] johnsaltarelli opened #144 "buid_dir option not being used when passed"
I noticed that when building in a different directory using the build_dir option this setting is not being applied and is always defaulting to the /build directory regardless of it's value. I am submitting a pull request that should fix the issue which seems to be caused by a typo.

[2017-04-10 06:52] johnsaltarelli commented on #144
In addition, I noticed that this option is not documented in the Readme and should probably use the config[:build_dir] value set by Middleman so it can be removed from the config all together. What do you think @fredjean

[2017-04-11 16:18] fredjean commented on #144
This is probably an oversight from moving to the sitemap. I'll update the code so we look at the `config[:build_dir]` value instead of the option.

Thank you for the heads up!

[2017-04-11 19:10] johnsaltarelli commented on #144
No problem, thank You for the quick response!

[2017-04-23 03:16] macandcheese commented on #108
@cpence can you elaborate? I move and place a lot of files after build with fileUtil.. and Middleman's sitemap is not aware of these items although they exist in the build folder correctly, so in turn s3_sync can never push them to the bucket. Are you saying that's a method to manually map the build directory ?

Furthermore, and maybe this is more a MM thing, because the files in build dir aren't

[2017-05-02 08:09] ricardclau commented on #143
Ping @fredjean

Any guidance here would be very much appreciated

[2017-06-03 19:24] fredjean commented on #143
My apologies on the delay. I have a new employer and I am figuring out what it means OSS wise.

There used to be code that would check whether a missing local resource was a redirect and ignore it. I'll check to make sure that it is still there.

[2017-06-28 21:01] maxiloc commented on #116
I had a similar issue with redirects not being pushed to S3. Adding `sitemap.ensure_resource_list_updated!` fixed it as well.

[2017-07-04 21:36] rawwebdesign opened #145 "Stuck on "Processing Sitemap"..."
Hello,

I'm getting a new MiddleMan installation up and running and S3_sync keeps stopping on the step of:

Processing Sitemap | ETA ??:??:?? Time 00:00:00

And it just hangs there forever.

Any ideas?

Thanks,
Brad

[2017-07-07 08:53] lec00q commented on #142
I second this request. We need to setup the redirection rules and unfortunately a new deploy wipes out our settings. It would be great to have at least the possibility to maintain the setup!

[2017-07-17 22:16] sbuzonas opened #146 "Allow setting aws session token"
Session token is required when using credentials from STS. Without STS, authenticating via a role or any other form of temporary credentials is impossible.

[2017-08-11 21:23] iaman commented on #124
Just spent half a day trying to figure this out, so I thought it might be worth renewing interest in this discussion:

The existence of this behavior warrants a warning that this gem _will not function_ on a site with generated assets that have any degree of randomness to them, _when combined with asset hashing_. This is because the following happens:

1. The middleman app starts
2. The gem gets t

[2017-08-19 00:45] chip-miller commented on #137
👍 Similar issue with optimized images (created during build) not being recognized.

[2017-09-22 20:34] rodrei commented on #145
I'm getting the same behaviour here, I'm on

- middleman (4.2.1)
- middleman-s3_sync (4.0.3)

[2017-09-25 21:33] dannguyen commented on #88
For anyone still needing to maintain Middleman 3.x sites and coming across this error message, some additional context: set the `middleman-s3_sync` version to **3.3**. e.g., in your Gemfile:

[code]

History of the gemspec:

https://github.com/fredjean/middleman-s3_sync/commits/ed990d9828890d105211cb6b989160609253ab79/middleman-s3_sync.gemspec

[2017-10-12 01:50] fredjean commented on #145
I have seen this happen when the AWS credentials were not set. It would normally resolve itself once the credentials are provided.

[2017-10-27 05:06] sarunw opened #148 "stylesheets folder is not being synced"
Hi

When I  first use s3 everything work fine, but in my latest build stylesheet stop working. In https://github.com/fredjean/middleman-s3_sync/issues/128 you said something about sitemap I have edit stylesheet to use some scss

[code]

Don't know if this the cause.

I have tried solution in https://github.com/fredjean/middleman-s3_sync/issues/128 by switching `activate :asset_hash` out, but no lu

[2017-10-28 04:56] sarunw commented on #148
Tried it on local and work fine.
[code]

Processing sitemap take sometime, but on circleci take 0 second
[code]

[2018-02-04 00:02] cpence commented on #134
+1 to this for me, too. I think that `Middleman::S3Sync::content_types` is an error; it should be `options.content_types`?

[2018-02-04 00:06] cpence commented on #134
I can monkey-patch this to work by adding:

[code]

to the config file, if that helps anybody else who finds this bug (where `build/` is my build directory). But that's definitely not how this feature is supposed to work!

[2018-04-06 10:49] asecondwill opened #150 "TypeError: no implicit conversion of true into String"
I updated a site today, checked it using ````middleman server```` and ran  ```` middleman s3_sync ````

It has previously worked, but today I get an error.  I haven't changed anything in the config or gemfile. Where might I have gone wrong here?

[code]

[2018-04-06 10:50] asecondwill commented on #150
sync config is
[code]

[2018-04-06 10:51] asecondwill commented on #150
Gemfile.lock shows

[code]

[2018-04-06 17:47] asecondwill commented on #150
I'm not sure why I have the region set to true at the bottom, but removing it fixes.  sorry to bother.

[2018-04-06 17:47] #150 closed

[2018-05-08 16:58] jclusso commented on #138
Has anyone come up with a work around for this?

[2018-05-15 02:07] fredjean commented on #138
I'll take PRs, but I just do not have the energy or desire to keep up with Middleman's changes.

[2018-07-09 05:21] ndorfin commented on #134
I've issued a PR to address this issue that could do with some help. See: https://github.com/fredjean/middleman-s3_sync/pull/153

[2018-07-16 11:38] bmedici commented on #108
Hi, still having the problem with MM4 and middleman-s3_sync v4.
Building files should add them automatically to the sitemap, or we should have a simple way to add them explicitely.
What about asset files, which are not present in the sitemap, but still uploaded ?

[2018-10-07 04:02] ikuwow opened #156 "fog deprection and warning"
[code]

[2019-04-27 19:44] bkazez commented on #138
Here's my hacky workaround...

https://gist.github.com/bkazez/7596ec8dea95646dca5630bf49188682

[2019-07-01 12:58] bmedici opened #157 "Local file names containing spaces exposed with + on S3"
When I put a file named "source/The File.pdf" in my local source directory, it is built by middleman and then pushed to s3 but any link pointing to it breaks.
In fact, the file is seen as "source/The+File.pdf" inside the S3 bucket, and only working with a link like href="source/The+File.pdf".

How should I configure s3_sync to force S3 to used spaces instead of pluses, but I guess s3 is working th

[2019-08-27 12:36] umerebryx commented on #129
@mathie I was using https://github.com/fredjean/middleman-s3_redirect for setting up redirects on my s3 bucket. Can your PR be used as an alternative for this? If yes, is there any documentation/example I can use to setup my project?

[2019-09-13 13:06] umerebryx commented on #129
Thanks @matiasgarciaisaia , I got the redirects to work locally. But when I use s3_sync to update my s3 bucket these redirects are not synced. I am also calling `sitemap.ensure_resource_list_updated!` right after redirects:

Is it possible I have to add above block at a certain place in my config.rb?

[2019-09-16 01:20] matiasgarciaisaia commented on #129
My only suggestion is to run the `s3_sync` in verbose mode and share the output to check what could be going on.

[2019-10-09 03:22] pwim opened #158 "Release new version"
I noticed the most recent version, v4.0.3, is rather old, and there have been several commits since it, including the redirect support introduced in #135. It'd be awesome if a new version could be released based off the current master.

[2019-10-09 03:24] pwim commented on #129
@umerebryx I also ran in to this issue, but realized it is because the most recent release doesn't contain the PR that adds support. I've created #158 to ask for a new version to be released. In the meantime, you can use it if you specify to use the github version:

[code]

[2020-02-28 18:27] mib32 commented on #148
Same for me

[2020-04-15 17:18] johnclittle commented on #148
same

[2020-09-04 06:54] umerebryx opened #160 "Add support for Case Sensitive Redirects result in an infinite loop"
When I add below redirect rule I end with an infinite redirect loop.

`redirect 'cts/index.html', to: '/CTS/'
`

After doing some research it looks like Mac OSX filesystem is case insensitive which means if I create CTS directory behind the scene it also creates a cts folder and both directories are kept in sync. When I add the redirect rule middleman_s3sync end up replacing my html file with the

[2021-05-18 17:31] norahine opened #161 "Cache headers not being set for webP images"
I've added a caching policy for webP images (see code below), but the headers are not being set on webP images in S3. Note that they are being set on all the other types of files just fine.

Copied from config.rb:

[code]

middleman version: (3.4.1)
middleman-s3_sync version: (3.3.10)

Does anybody have an idea what might be going wrong?